<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dawnfz.potcopyapi.mapper.ParamsMapper">

    <!-- 添加一条标签关联摹本记录 -->
    <insert id="addTagForCopyInfo">
        insert into t_tag_info(tagId, copyId)
        values (#{tagId}, #{copyId})
    </insert>

    <!-- 添加一个标签 -->
    <insert id="addTag">
        insert into t_tag(id, tagName)
        values (null, #{tagName})
    </insert>

    <!-- 根据 TagId 查询 Tag -->
    <select id="getTagByName" resultType="integer">
        select id
        from t_tag
        where tagName = #{tagName}
    </select>

    <!-- 查询所有的 Tag -->
    <select id="getTags" resultType="com.dawnfz.potcopyapi.domain.Tag">
        select *
        from t_tag
        order by id
    </select>

    <!-- 查询所有的 PotType -->
    <select id="getPotTypes" resultType="com.dawnfz.potcopyapi.domain.PotType">
        select *
        from t_type
        order by id
    </select>

    <!-- 查询包含该 TagId 的 copyId -->
    <select id="getCopyIds" resultType="string">
        select ti.copyId
        from t_tag_info ti
                 left join t_tag tt on tt.id = ti.tagId
        where tt.tagName in (${tagNames})
    </select>

    <!-- Block结果集映射 -->
    <resultMap id="blockMap" type="com.dawnfz.potcopyapi.domain.Block">
        <result column="typeId" property="typeId"/>
        <result column="blockId" property="blockId"/>
        <!-- 区域字段子查询 -->
        <collection property="blockName" column="{blockId=blockId}"
                    select="getBlockName"
                    ofType="string" javaType="string"/>
    </resultMap>

    <!-- 子查询 - 查询区域名 -->
    <select id="getBlockName" resultType="string">
        select blockName
        from t_block
        where id = #{blockId}
    </select>

    <!-- 根据 typeId 查询 blockId结果集 -->
    <select id="getBlocks" resultMap="blockMap">
        select *
        from t_type_block
        where typeId = #{typeId}
    </select>

    <!-- 添加一种洞天类型 -->
    <insert id="addBlock">
        insert into t_block (id, blockName)
        values (null, #{blockName});
    </insert>

    <!-- 添加一条关联记录到 t_type_block 中 -->
    <insert id="addTypeBlock">
        insert into t_type_block(id, typeId, blockName)
        values (null, #{typeId}, #{blockId})
    </insert>

</mapper>